.buttons-panel {
  display: flex;
  justify-content: center;
}

.buttons-panel button {
  font-size: 15px;
  font-weight: bold;
  border: none;
  width: 180px;
  padding: 8px;
}

.buttons-panel button:hover {
  background-color: #ffd23f;
  color: rgba(37, 36, 34, 0.5);
}

.buttons-panel #btnPrevious {
  margin-right: 20px;
  border-radius: 2px 20px;
}

.buttons-panel #btnNext {
  margin-left: 20px;
  border-radius: 20px 2px;
}

body {
  background-image: url(./assets/background.jpg);
}
